<section class="pagination" id="pagination">
    <div class="container">
        <div class="numpage">
            <ul class="numpage__btn">
                <li class="numpage__left-arrow"><a class="arrow" href="#"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.6666 8H3.33325" stroke="black" stroke-width="1.33333" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M7.99992 12.6667L3.33325 8.00004L7.99992 3.33337" stroke="black" stroke-width="1.33333"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a></li>
            </ul>

            <ul class="numpage__lists">
                {{!-- <li class="numpage__list"><a class="numpage__list-item" href="#">1</a></li>
                <li class="numpage__list numpage__more"><a class="numpage__list-item" href="#">...</a></li>
                <li class="numpage__list"><a class="numpage__list-item" href="#">13</a></li>
                <li class="numpage__list"><a class="numpage__list-item" href="#">14</a></li>
                <li class="numpage__list"><a class="numpage__list-item, item__border-active" href="#">15</a></li>
                <li class="numpage__list"><a class="numpage__list-item" href="#">16</a></li>
                <li class="numpage__list"><a class="numpage__list-item" href="#">17</a></li>
                <li class="numpage__list numpage__more"><a class="numpage__list-item" href="#">...</a></li>
                <li class="numpage__list"><a class="numpage__list-item" href="#">20</a></li> --}}
            </ul>

            <ul class="numpage__btn">
                <li class="numpage__right-arrow"><a class="arrow" href="#"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.33341 8H12.6667" stroke="black" stroke-width="1.33333" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M8.00008 12.6667L12.6667 8.00004L8.00008 3.33337" stroke="black" stroke-width="1.33333"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a></li>
            </ul>
        </div>
    </div>
</section>