<section class="trailers">
    <div class="trailer-title">
        <p class="trailer-label">Трейлеры к фильму</p>
    </div>
    {{#each this}}
    <div class="trailer">
        <iframe src="https://www.youtube.com/embed/{{key}}" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""></iframe>
    </div>
    {{/each}}
</section>